*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.game-board{
    width: 100%;
    height: 600px;
    border-bottom: 1px solid #333;
    margin: 0 auto;
    position: relative;
    /* overflow: hidden; */
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe{
    position: absolute; 
    bottom: 0;
    width: 100px;
    right: 210px;
    animation: pipe-animation 2.5s infinite linear;
}

.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
    left: 50px;   
}

.jump{
    animation: mario-jump 500ms ease-out;
    
}

.grama{
    width: 100%;
    height: 600px;
    position: absolute;
    bottom: 0;
    bottom: -120px;
}

.nuvens{
    margin-top: 70px;
    width: 500px;
    position: absolute;
    animation: anima-nuvens 15s infinite linear;
}

@keyframes pipe-animation {
    from{
        right: 0;
    }
    to{
        right: 100%;
    }  
}

@keyframes mario-jump {
    0% {
        bottom: 0;
    }
    40% {
        bottom: 180px;
    }
    50% {
        bottom: 180px;
    }
    60% {
        bottom: 180px;
    }
    70% {
        bottom: 180px;
    }
    100%{
        bottom: 0;
    }
}

@keyframes anima-nuvens {
    from{
        right: -500px;
    }
    to{
        right: 100%;
    }  
}
    
